<div id="app">
  <h1>Welcome to Ephemer Gaming!</h1>
  <h2>Check our products:</h2>
  {{#each products}}
    <div>
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
      <p>{{this.code}}</p>
      <p>{{this.price}}</p>
      <p>{{this.stock}}</p>
      <p>{{this.category}}</p>
      <p>{{this.thumbnails}}</p>
    </div>
  {{/each}}
</div>